<h1><%= @user.email %> Profile Page</h1>
<p>
  Projects You have backed:
</p>

<ul>
  <% list_of_pledges_for_user = Hash.new 0 %>
  <% current_user.pledges.find_each do |pledge| %>
    <% if pledge.project != nil %>
      <% list_of_pledges_for_user[pledge.project.title] = {status: pledge.project.reached_goal?, owner: pledge.project.owner.email} %>
    <% end %>
  <% end %>

  <% list_of_pledges_for_user.each do |name, attribute| %>
    <li>
      <%= name %> : <%= attribute[:status] ? "The project has reached its goal" : "The project has not reached its goal" %>
      : Creator of Project - <%= attribute[:owner] %>
    </li>
  <% end %>
</ul>

<% counter = 0 %>
<% current_user.pledges.find_each do |pledge| %>
  <% counter += pledge.amount %>
<% end %>

<h2><span>$<%=counter%></span> Pledged For All Projects</h2>
