<h1>Projects</h1>

<%= link_to 'New Project', new_project_path %>

<%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<% funded_projects = 0 %>
<% successful_projects = 0 %>
<% total_pledges_for_project = 0 %>
<% total_funded_amount = 0 %>
<% user_hash = Hash.new 0 %>
<% @projects.each do |project| %>
  <% if project.pledges != nil %>
    <% already_counted_in_funded = false %>
    <% total_pledges_for_project = 0 %>
    <% project.pledges.each do |pledge| %>
      <% user_hash[pledge.user_id] += 1 %>
      <% if pledge.amount > 0 %>
        <% total_pledges_for_project += pledge.amount %>
        <% if already_counted_in_funded == false %>
          <% funded_projects += 1 %>
          <% already_counted_in_funded = true %>
        <% end %>
      <% end %>
    <% end %>
    <% if total_pledges_for_project >= project.goal %>
      <% successful_projects += 1  %>
    <% end %>
    <% total_funded_amount += total_pledges_for_project %>
  <% end %>
<% end %>

<p>Successfully funded projects: <span><%= successful_projects %> </span> </p>
<p>Total Money Pledged for All Products: <span><%= total_funded_amount %></span></p>
<p>Total Backers for All Projects: <span> <%= user_hash.length %></span> </p>

<% if @projects.any? %>
  <ul>
    <%= render @projects %>
  </ul>
<% else %>
  <h2>No projects yet</h2>
<% end %>


<% if @categories.any? %>
    <% @categories.each do |category| %>
      <div class="category-list">
        <%= link_to "#{category.name}", category_path(category.id) %>
      </div>
    <% end %>
<% end %>
