<h1><%= @project.title %></h1>
<p>Description: <%= @project.description %></p>
<p>Goal: $<%= @project.goal %></p>

<p>Pledge: <span id="pledge-total"><%= @pledge_total %></span> </p>
<p>Category: <%= @project.category_id %></p>
<p>Days left: <%= @project.days_left() >= 0 ? @project.days_left() : "Expired" %></p>
<p> <%= (@project.backed(current_user) == true && @project.expired? == false) ? "You have backed this project" : "Back this project!" %></p>


<% pledge_hash = Hash.new 0 %>
<% @project.pledges.each do |pledge| %>
  <% pledge_hash["#{pledge.amount}+h"] += 1 %>
<% end %>

<p>Amount of Each Type of Pledge: </p>
<% pledge_hash.each do |key, value| %>
  <p>  <%= pledge_hash[key] %> : <%= pledge_hash[value]  %> </p>
<% end %>

<% if @rewards.any? %>
  <h2>Rewards for <%= @project.title %>:</h2>
  <% @rewards.each do |reward| %>
    <div class="rewards-show">
    <!-- <a href="/projects/#{@project.id}"> -->
    <% if current_user %>
      <%= form_for Pledge.new, url: pledges_create_path, :html => {:class => 'rewards-form'} do |f| %>
        <%= f.number_field :amount, :value => reward.amount%>
        <%= f.number_field :user_id, :value => current_user.id %>
        <%= f.number_field :project_id, :value => @project.id %>
        <%= f.submit %>
      <% end %>
    <% end %>
      <p>Type: <%= reward.title %></p>
      <p>Prize: <%= reward.description %></p>
      <p>Contribution: $ <span class="reward-contribution"><%= reward.amount %></span></p>
    <!-- </a> -->
    </div>
  <% end %>
<% end %>

<% if current_user && @project.delete? %>
  <div><%= link_to "Delete Project", project_path(@project.id), method: :delete %></div>
<% end %>
