<h1>Project#Show</h1>


<p>Title: <%= @project.title %></p>
<p>Description: <%= @project.description %></p>
<p>Goal: $<%= @project.goal %></p>
<p>Pledge: <span id="pledge-total">0</span> </p>
<p>Days left: <%= @project.days_left() %></p>

<!--  put the rewards here -->

<h2>Rewards for <%= @project.title %>:</h2>

<% @rewards.each do |reward| %>
  <div class="rewards-show">
    <p>Type: <%= reward.title %></p>
    <p>Prize: <%= reward.description %></p>
    <p>Contribution: $ <span class="reward-contribution"><%= reward.amount %></span></p>
  </div>
<% end %>
