<h1><%= @project.title %></h1>
<p>Description: <%= @project.description %></p>
<p>Goal: $<%= @project.goal %></p>

<p>Owner: <%= @project.owner.email %></p>


<p>Pledge: <span id="pledge-total"><%= @pledge_total %></span> </p>
<p>Category: <%= @project.category.name %></p>
<p>Days left: <%= @project.days_left() >= 0 ? @project.days_left() : "Expired" %></p>
<p> <%= @project.backed(current_user) == true ? "You have backed this project" :  @project.expired? == false ? "Back this project!" : "" %></p>

<% if current_user && @project.owner_id == current_user.id %>
  <p>How many people have funded this project at each reward:</p>
  <% reward_hash = Hash.new 0 %>
  <% @project.pledges.each do |pledge| %>
    <% reward_hash[pledge.reward.title] += 1 %>
  <% end %>
  <% reward_hash.each do |k, v| %>
    <%= "#{k} : #{reward_hash[k]}" %>
  <% end %>
<% end %>


<% if !current_user %>
  <p>*Please login to Back this project!</p>
<% end %>

<% if @rewards.any? %>
  <h2>Rewards for <%= @project.title %>:</h2>
  <% @rewards.each do |reward| %>
    <div class="rewards-show">
    <!-- <a href="/projects/#{@project.id}"> -->
    <% if current_user %>
      <%= form_for Pledge.new, url: pledges_create_path, :html => {:class => 'rewards-form'} do |f| %>
        <%= f.number_field :amount, :value => reward.amount%>
        <%= f.number_field :user_id, :value => current_user.id %>
        <%= f.number_field :project_id, :value => @project.id %>
        <%= f.number_field :reward_id, :value => reward.id %>
        <%= f.submit %>
      <% end %>

    <% end %>
      <p>Type: <%= reward.title %></p>
      <p>Prize: <%= reward.description %></p>
      <p>Contribution: $ <span class="reward-contribution"><%= reward.amount %></span></p>
    <!-- </a> -->
    </div>
  <% end %>
<% end %>

<div id="project-tags-list" >

      <% @project.tags.each do |tag| %>
        <div class="each-tag">
          <%= tag.name %>
        </div>
      <% end  %>

</div>

  <% if current_user %>
    <div class="add-new-tag">
      <%= link_to "Add Tags" %>
    </div>

  <div class="tag-form">
    <%= form_for Tag.new do |t| %>

    <%= t.label :name  %>
    <%= t.text_field :name %>
    <%= t.hidden_field :taggable_id, :value => @project.id %>
    <%= t.hidden_field :taggable_type, :value => @project.class %>
    <%= t.submit "Add" %>
    <% end  %>
  </div>
  <% end %>


<% if (@project.owner_id == current_user.id) && @project.delete? %>
  <div><%= link_to "Delete Project", project_path(@project.id), method: :delete %></div>
<% end %>
